body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table th, table td { white-space: nowrap; }

#company_detail_background {

  border-radius: 4px;
  padding: 2px;
  width: 800px;
}

#search_button {
  position: relative;
  top: -13px;
  right: -520px;
}


#search_input {

  width: 640px;
  position: relative;
  margin-right: auto;

  top: 25px;
  left: -140px;

}

#latest_reported_amount {
  padding-left: 50px;
  top: -200px;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
}

